.role-text {
    font-size: 1.1rem;
    color: var(--secondary-text);
    margin-bottom: 2rem;
    font-weight: 500;
}

.company-link {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

.company-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--accent-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.company-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}